@model ModelAccessLayer.StudentDetailsView
<section id="main-content">
	<section class=" wrapper">
		<div class="agile-grid">
            <div class="row">
                <h2 class="text-black">Add Student Details</h2>
                    <form enctype="multipart/form-data" asp-action="AddStudent" class="mt-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-lg-6">
                            <section class="panel-body">

                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control"  id="name"  onkeypress=" return IsName(e)" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div> 
                            </section>
                        </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="StudendId" class="control-label"></label>
                            <input asp-for="StudendId" class="form-control" />
                            <span asp-validation-for="StudendId" class="text-danger"></span>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="EnrollNo" class="control-label"></label>
                            <input asp-for="EnrollNo" class="form-control" />
                            <span asp-validation-for="EnrollNo" class="text-danger"></span>
                        </div>                      
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>                        
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        @* <div class="panel-body">col-lg-6</div> *@
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="Mobile" class="control-label"></label>
                            <input asp-for="Mobile" class="form-control" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        @* <div class="panel-body">col-lg-6</div> *@
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="Course" class="control-label"></label>
                            <input asp-for="Course" class="form-control" />
                            <span asp-validation-for="Course" class="text-danger"></span>
                        </div>
                        
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="Branch" class="control-label"></label>
                            <input asp-for="Branch" class="form-control" />
                            <span asp-validation-for="Branch" class="text-danger"></span>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label "></label>
                                <input asp-for="Email" class="form-control" id="email"  onkeypress=" return IsEmail(email)  />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="FatherName" class="control-label"></label>
                            <input asp-for="FatherName" class="form-control" />
                            <span asp-validation-for="FatherName" class="text-danger"></span>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="FatherMobile" class="control-label"></label>
                            <input asp-for="FatherMobile" class="form-control" />
                            <span asp-validation-for="FatherMobile" class="text-danger"></span>
                        </div>
                    </section>
                </div>
            <div class="col-lg-6">
                <section class="panel-body">
                    <div class="form-group">
                        <label asp-for="ProfileImage" class="control-label"></label>
                                <input asp-for="ProfileImage" class="form-control" class="custom-file-input" />
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        <span asp-validation-for="ProfileImage" class="text-danger"></span>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                    <section class="panel-body">
                        <div class="form-group">
                            <label asp-for="MotherName" class="control-label " ></label>
                                <input asp-for="MotherName" class="form-control" class="custom-file-input" />
                            <span asp-validation-for="MotherName" class="text-danger"></span>
                        </div>
                    </section>
                </div>
                <div class="col-lg-12 mt-3 ">
                    <section class="panel-body ">
                        <div class="form-group  ">
                            <input type="submit" value="Add Student" class="btn btn-dark w-100 " />
                        </div>
                    </section>
                </div>
                    </form>
                </div>
		</div>
        </section>
</section>
<script src="~/js/custom.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
 

}
