@model ModelAccessLayer.LibraryDetails



<section id="main-content">
    <section class="wrapper">
        <div class="typo-agile">

            <div class="row">
                <div class="row-md-4 ">
                    <h2 class="text-black">Add Library Details</h2>
                    <form asp-action="AddLibraryUser" class="mt-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="IssuedBy" class="control-label"></label>
                            <input asp-for="IssuedBy" class="form-control" placeholder="Enter Your First Name" />
                            <span asp-validation-for="IssuedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EnrollNo" class="control-label"></label>
                            <input asp-for="EnrollNo" class="form-control" />
                            <span asp-validation-for="EnrollNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BookId" class="control-label"></label>
                            <input asp-for="BookId" class="form-control" />
                            <span asp-validation-for="BookId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BookName" class="control-label"></label>
                            <input asp-for="BookName" class="form-control" />
                            <span asp-validation-for="BookName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for=" IssuedOn" class="control-label"></label>
                            <input asp-for=" IssuedOn" class="form-control" />
                            <span asp-validation-for=" IssuedOn" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ReturnDate" class="control-label"></label>
                            <input asp-for="ReturnDate" class="form-control" />
                            <span asp-validation-for="ReturnDate" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <input type="submit" value="Add" class="btn  btn-dark w-100 " />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    @* 		  <div class="footer">
    <div class="wthree-copyright">
    <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
    </div> *@
    <!-- / footer -->
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
