@model ModelAccessLayer.LibraryDetails

<section id="main-content">
    <section class=" wrapper">
        <div class="agile-grid">


            <div class="row">

                <h2 class="text-black">Update Library Details</h2>
                <form asp-action="UpdateLibDetails" class="mt-4">


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-lg-6">
                        <section class="panel-body">

                            <div class="form-group">
                                <label asp-for="IssuedBy" class="control-label"></label>
                                <input asp-for="IssuedBy" class="form-control" />
                                <span asp-validation-for="IssuedBy" class="text-danger"></span>
                            </div>

                        </section>
                    </div>

                    <div class="col-lg-6">
                        <section class="panel-body">

                            <div class="form-group">
                                <label asp-for="EnrollNo" class="control-label"></label>
                                <input asp-for="EnrollNo" class="form-control" />
                                <span asp-validation-for="EnrollNo" class="text-danger"></span>
                            </div>

                        </section>
                    </div>

                    <div class="col-lg-6">
                        <section class="panel-body">

                            <div class="form-group">
                                <label asp-for="BookId" class="control-label"></label>
                                <input asp-for="BookId" class="form-control" />
                                <span asp-validation-for="BookId" class="text-danger"></span>
                            </div>


                        </section>
                    </div>
                    <div class="col-lg-6">
                        <section class="panel-body">

                            <div class="form-group">
                                <label asp-for="BookName" class="control-label"></label>
                                <input asp-for="BookName" class="form-control" />
                                <span asp-validation-for="BookName" class="text-danger"></span>
                            </div>

                        </section>
                    </div>
                    <div class="col-lg-6">
                        <section class="panel-body">

                            <div class="form-group">
                                <label asp-for=" IssuedOn" class="control-label"></label>
                                <input asp-for=" IssuedOn" class="form-control" />
                                <span asp-validation-for=" IssuedOn" class="text-danger"></span>
                            </div>

                        </section>
                    </div>
                    <div class="col-lg-6">
                        <section class="panel-body">

                            <div class="form-group">
                                <label asp-for="ReturnDate" class="control-label"></label>
                                <input asp-for="ReturnDate" class="form-control" />
                                <span asp-validation-for="ReturnDate" class="text-danger"></span>
                            </div>

                        </section>
                    </div>
                   
                   
                    <div class="col-lg-6 mt-3 ">
                        <section class="panel-body ">

                            <div class="form-group  ">
                                <input type="submit" value="Update Details" class="btn btn-dark w-100 " />
                            </div>

                        </section>
                    </div>

                    <div class="col-lg-6 mt-3 ">
                        <section class="panel-body  ">

                            <div class="form-group  ">
                                <button class=" btn btn-light border-secondary border border-2 rounded-1 p-2 w-100 "><a class=" text-secondary  " asp-action="GetAllLibraryDetails">Back To List</a></button>
                            </div>

                        </section>
                    </div>
                </form>
            </div>

        </div>
    </section>

</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

